.box{
    width: 300px;
    height: 300px;
    /*  background-image:radial-gradient( red, yellow, blue);*/
    background-image:linear-gradient(90deg, rgba(2,3,61, 0.8)0%, rgba(109, 138, 199, 0.8)100%),
    url(images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    
   --logo-color: rgb(107, 99, 83);
}
h1{
    color: var(--logo-color);
}
.circle{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    clip-path: circle(10px at 0.0);
}